<%= simple_form_for [@user, @dog] do |f| %>
  <%= f.input :name,
              required: true %>
  <%= f.input :my_story,
              required: true %>
  <%= f.input :breed,
              required: true %>
  <%= f.input :dog_size, collection: @dog_size %>
  <div class="form-actions">
    <%= f.button :submit, "Add doggo" %>
  </div>
<% end %>
