<div class="profile">
  <div class="banner">
    <div class="user-name text-center">
      <% if @user.username.present? %>
        <h1><%= @user.username %></h1>
      <% else %>
        <h1>Username</h1>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="user-content">
    <div class="profile-pic text-center">
      <% if @user.avatar.present? %>
        <%= cl_image_tag @user.avatar, alt: @user.username, width: 100, height: 100, crop: :fill, g: :face, radius: :max %>
      <% else %>
        <%= image_tag "http://diazworld.com/images/avatar-placeholder.png", alt: "avatar-placeholder", width: 100, height: 100 %>
      <% end %>
    </div>
    <div class="info text-center">
      <h4>Contact</h4>
      <h4>About me</h4>
      <% if @user.bio.present? %>
        <p><%= @user.bio %></p>
      <% else %>
        <p><%= user.name %> has no bio yet</p>
      <% end %>
    </div>
  </div>

  <div class="user-dogs">
    <h4 class="text-center">Meet my best friend
      <%= link_to "+", new_user_dog_path %></h4>
    <div class="all-user-dogs text-center">
      <% @user.dogs.each do |dog| %>
         <p><strong><%= dog.name %></strong></p>
        <%= dog.my_story %>
        <br>

         <%= link_to "Remove", destroy_dogs_path(dog), method: :delete, data: { confirm: 'Are you sure?' } %>
         <%= link_to "Edit", edit_user_dog_path(dog) %>
        <br>
        <br>
      <% end %>
    </div>
  </div>
  <div class="user-restaurants-favourites">
    <h4 class="text-center">Favorites</h4>
      <% if @user.favorites.present? %>
        <% @user.favorites.each do |favorite| %>
           <p><strong><%= favorite.activity.name %></strong></p>
        <% end %>
      <% else %>
        <p class="text-center">No favorite places or events added yet</p>
      <% end %>
  </div>

  <div class="acc-settings">
    <%= link_to "Account credentials", edit_user_registration_path, class: 'user-btn' %>

    <%= link_to "Delete account", user_registration_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'user-btn' %>
  </div>
</div>
