<div class="container mb-5">
  <br>
  <h4>Forgot your password?</h4>
  <div class="row">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: 'reset' %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
