
<div class="container">
<h2>Your Orders</h2>

<div class="card-content">
  <% @orders.each do |order| %>
    <div class="order">
    <ul>
      <li><strong>Order ID:</strong> <%= order.activity_id %></li>
      <li><strong>Name: </strong><%= Activity.find(order.activity_id).name %></li>
      <li><strong>Description: </strong><%= Activity.find(order.activity_id).description %></li>
      <li><strong>Date: </strong><%= Activity.find(order.activity_id).date %></li>
      <li><strong> Amount: </strong><%= humanized_money_with_symbol(order.amount_cents) %></li>
      <li><strong> Status:</strong> <%= order.status %></li>
    </div>
  <% end %>
</ul>
 </div>
</div>
