<div class="banner">
  <div class="container">
    <h1>Retrievr</h1>
    <h3>Spend more time with your best friend</h3>
   <!-- <p><%#= text_field_tag :search, nil, placeholder: 'Enter location...', class: "searchbar" %></p> -->
  </div>
</div>

<div class="event-container">
  <div class="container">
    <div class="upcoming-events">
      <h2>Upcoming events</h2>

      <% @activities = Activity.order(:date).first(2) %>

      <div class="activity-card d-flex justify-content-around ">
        <% @activities.each do |activity| %>
          <%= link_to activity_path(activity) do %>
            <div class="each-event d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5)), url('<%= cl_image_path activity.activity_photos.sample.photo, crop: :fill %>');" >
              <p><%= activity.address %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="d-flex" style="justify-content: center;">
        <%= link_to 'All events', activities_path, class: "upcoming-events-btn" %>
      </div>
    </div>
  </div>
</div>

<div class="places-container">
  <div class="container">
    <div class="recommended-places">
      <h2>Recommended places</h2>

      <% @places = Place.first(4) %>
      <div class="d-flex" style="justify-content: space-around; align-content: center; flex-wrap: wrap;">
        <% @places.each do |place| %>
          <div style="margin-bottom: 30px;">
            <%= link_to place_path(place) do %>
              <div class="place-card d-flex" style="justify-content: left; align-items: center; flex-direction: column;">
                <div class="place-card-img" style="width: 200px; height: 200px; background-image: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5)), url('<%= cl_image_path place.place_photos.sample.photo, crop: :fill %>'); border-top-left-radius: 4px; border-top-right-radius: 4px;">
                </div>
                <div class="place-card-info" style="padding-top: 10px;">
                  <h3><%= place.category %></h3>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

    </div>
  </div>
</div>
