<div class="banner">
  <div class="container">
    <h1>Retrievr</h1>
    <p>Spend more time with your best friend</p>
    <%= text_field_tag :search, nil, placeholder: 'Enter location...' %>
  </div>
</div>

<br>

<div class="container">

  <!-- <div class="about-us">
    <h2>About Us</h2>
    <p>we are retrievr</p>
  </div> -->

  <div class="upcoming-events">
    <h2>Upcoming events</h2>
    <div class="upcoming-events-card d-flex flex-direction-column justify-content-center">
      <% @activities = Activity.order(:date).first(2) %>
      <ul class="list-group">
        <% @activities.each do |activity| %>
          <%= link_to activity_path(activity) do %>
            <li class="list-group item">
              <p><%= activity.address %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="recommended-places">
    <h2>Recommended places</h2>
    <div class="recommended-places d-flex justify-content-center">
     <% @places = Place.first(2) %>
      <ul class="list-group">
        <% @places.each do |place| %>
          <%= link_to place_path(place) do %>
            <li class="list-group item">
              <p><%= place.name %></p>
            </li>
          <% end %>
        <% end %>
    </div>

  </div>
</div>
