<div class="banner">
  <div class="container">
    <h1>Retrievr</h1>
    <p>Spend more time with your best friend</p>
    <p><%= text_field_tag :search, nil, placeholder: 'Enter location...', class: "searchbar" %></p>
  </div>
</div>

<div class="event-container">
  <div class="container">
    <div class="upcoming-events">
      <h2>Upcoming events</h2>

      <% @activities = Activity.order(:date).first(2) %>
      <div class="d-flex" style="justify-content: space-around; align-items: center; flex-wrap: wrap;">
        <% @activities.each do |activity| %>
          <%= link_to activity_path(activity) do %>
            <div class="each-event d-flex" style="justify-content: center; align-items: center;">
              <p><%= activity.address %></p>
              <%#= cl_image_tag @activity_photos.photo, crop: :fill %>
            </div>
          <% end %>
        <% end %>

      </div>

      <div class="d-flex" style="justify-content: center;">
        <%= link_to 'All events', activities_path, class: "upcoming-events-btn" %>
      </div>
    </div>
  </div>
</div>

<div class="places-container">
  <div class="container">
    <div class="recommended-places">
      <h2>Recommended places</h2>

      <% @places = Place.first(4) %>
      <div class="d-flex" style="justify-content: space-around; align-content: center; flex-wrap: wrap;">
        <% @places.each do |place| %>
          <div class="place-card" style="padding-bottom: 30px;">
            <%= link_to place_path(place) do %>
              <div class="d-flex" style="justify-content: left; align-items: center; flex-direction: column; margin-bottom: 15px;">
                <div class="place-card-img" style="width: 200px; height: 200px; background-color: grey; border-top-left-radius: 4px; border-top-right-radius: 4px;">
                  <%#= cl_image_tag @place_photos.photo, crop: :fill %>
                </div>
                <div class="place-card-info" style="padding-top: 10px;">
                  <h3><%= place.category %></h3>
                  <!-- <p><%#= place_reviews.rating %></p> -->
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

    </div>
  </div>
</div>
