<div class="banner">
  <div class="container">
    <h1>Retrievr</h1>
    <h3>Explore places to stay, play, and eat with your dog.</h3>
  </div>
</div>

<div class="event-container">
  <div class="container">
    <div class="upcoming-events">
      <h2>Upcoming events</h2>

      <% @activities = Activity.order(:time).first(3) %>

      <div class="d-flex justify-content-around align-items-center flex-wrap">
        <% @activities.each do |activity| %>
          <%= link_to activity_path(activity) do %>
            <div class="card-trip">
              <%= cl_image_tag activity.activity_photos.sample.photo, crop: :fill %>
              <div class="card-trip-infos">
                <h5><%= activity.name %></h5>
                <p class="activity-time"><%= activity.time.to_s.gsub(' UTC', '') %></p>
                <% if activity.price == 0 %>
                  <p class="activity-price">FREE</p>
                <% else %>
                  <p class="activity-price"><%= humanized_money_with_symbol(activity.price) %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="d-flex" style="justify-content: center;">
        <%= link_to 'All events', activities_path, class: "upcoming-events-btn" %>
      </div>
    </div>
  </div>
</div>

<div class="places-container">
  <div class="container">
    <div class="recommended-places">
      <h2>Recommended places</h2>

      <% @places = Place.first(3) %>
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <% @places.each do |place| %>
          <%= link_to place_path(place) do %>
            <div class="card-trip">
              <%= cl_image_tag place.place_photos.sample.photo, crop: :fill %>
              <div class="card-trip-infos">
                <h5><%= place.name %></h5>
                <p class="activity-time"><%= place.category %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
