<div class="row cards">
  <% @activities.each do |activity| %>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
      <%= link_to activity_path(activity), class: 'activity-link' do %>
        <div class="card-trip card-act" data-activity-id="<%= activity.id %>">
          <% if activity.activity_photos.present? %>
            <%= cl_image_tag activity.activity_photos.sample.photo, crop: :fill %>
          <% end %>
          <div class="card-trip-infos">
            <h4><%= activity.name %></h4>
            <p><%= activity.owner.first_name %> <%= activity.owner.last_name %></p>
          </div>
          <div class="card-favorite">
            <% if Favorite.find_by(activity: activity, user: current_user) %>
              <%= render 'favorites/delete', activity: activity %>
            <% else %>
              <%= render 'favorites/create', activity: activity %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
