<div class="row results">
  <% @activities.each do |activity| %>
    <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
      <%= link_to activity_path(activity), class: 'activity-link' do %>
        <div class="card-trip card-act" data-activity-id="<%= activity.id %>">
          <% if activity.activity_photos.present? %>
            <%= cl_image_tag activity.activity_photos.sample.photo, crop: :fill %>
          <% end %>
          <div class="card-trip-infos">
            <h5><%= activity.name %></h5>
            <p class="activity-time"><%= activity.time.to_s.gsub(' UTC', '') %></p>
            <% if activity.price == 0 %>
              <p class="activity-price">FREE</p>
            <% else %>
              <p class="activity-price"><%= humanized_money_with_symbol(activity.price) %>
              </p>
            <% end %>
          </div>
          <% if current_user %>
            <div class="card-favorite">
            <% if Favorite.find_by(activity: activity, user: current_user) %>
              <%= render 'favorites/delete', activity: activity %>
            <% else %>
              <%= render 'favorites/create', activity: activity %>
            <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
