<%= simple_form_for @activity, html: { multipart: true } do |f| %>
  <%= f.input :name %>
  <%= f.input :description, placeholder: 'minimum: 20 characters' %>
  <%= f.input :address %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :price, placeholder: '$50.00' %>
  <%= f.input :category, collection: ['Pool', 'Feast', 'Gathering', 'Party', 'Competition', 'Other'] %>
  <%= f.input :limit %>
  <%= f.input :place, collection: Place.all %>

  <%= f.fields_for :activity_photos do |p| %>
    <div class="field">
      <%= f.label :photo %>
      <br>
      <%= f.file_field :photo, multiple: true %>
    </div>
  <% end %>
  <br>

  <%= f.button :button, "Create Event", class: 'btn btn-outline-warning'  %>
<% end %>
