<div class="container pt-5">
  <h1 style="color: orange; text-align: center; margin-bottom: 40px;"><%= @activity.name.capitalize %></h1>

  <div class="row mt-5">
    <div class="col-md-5 px-5">
      <div class="activity-details">
        <div class="act-details">
          <div class="activity-details-category">
            <div><p><strong>Date:</strong></p><p> <%= @activity.time %></p></div>
            <div><p><strong>Price:</strong></p><p id="price"> <%= humanized_money_with_symbol(@activity.price) %></p></div>
            <div><p><strong>Location:</strong></p><p> <%= @activity.address %></p></div>
            <div><p><strong>Category:</strong></p><p> <%= @activity.category %></p></div>
            <div><p><strong>Creator:</strong></p><p> <%= @activity.owner.first_name %> <%= @activity.owner.last_name %></p></div>
            <br>
          </div>
          <div class="text-center">
            <h4>Get a ticket</h4>
            <%= render 'payments/pay' %>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-7">
      <%= cl_image_tag @activity.activity_photos.first.photo, crop: :fill, height: 350, class: "show-page-pic" %>
    </div>

  </div>
</div>

<div class="container">
  <div class="activity-description">
    <p><strong>Description</strong>: <%= @activity.description %></p>
  </div>
</div>

<div class="background-photo">
  <div class="container pt-4">
    <h1 style="color: orange; text-align: center; margin-bottom: 40px;">Photos</h1>

    <div class="row">
      <% @activity.activity_photos.each do |p| %>
      <div class="col-md-4 py-2">
        <div class="act-photos">
          <%= cl_image_tag p.photo, height: 200, crop: :fill, g: :face, class: 'activity-photo' %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="activity-photo-upload text-center">
      <ul class="list-inline" style="font-size: 18px; margin-top: 50px;">
        <li style="color: orange; font-weight: bold">Upload your picture now!</li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item">
          <%= render 'activity_photos/formphotos' %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="activity-reviews">
    <h2 style="color: orange">Reviews</h2>
    <% @activity.activity_reviews.each do |r| %>
    <ul class="list-group">
      <li class="list-group-item review-content">
        <div class="review-image text-center">
          <% if r.user.avatar.present? %>
          <%= cl_image_tag r.user.avatar, crop: :fill, g: :face, class: 'avatar-huge' %>
          <% else %>
          <%= image_tag "http://diazworld.com/images/avatar-placeholder.png", alt: "avatar-placeholder", width: 120, height: 120 %>
          <% end %>
          <h6 style='margin-top: 8px; margin-bottom: 0'>@<%= r.user.username %></h6>
          <p style="color: gray; margin-bottom: 0;"><%= r.created_at %></p>
        </div>

        <div class="review-ratings">
          <div class="rating-bones">
            <% r.rating.times do %>
            <i class="fas fa-bone" style="color: orange; font-size: 24px; transform: rotate(-45deg);"></i>
            <% end %>
          </div>

          <% if r.content.present? %>
          <div class="review-text">
            <p><%= r.content %></p>
          </div>
          <% end %>
        </div>
      </li>
    </ul>
    <hr>

    <% end %>

    <% if @activity.owner != current_user %>
    <div class="review-form">
      <p id="new_review" class="text-center" style="color: orange; font-size: 20px; cursor: pointer">
        <i class="fas fa-pen">&nbsp;</i>Submit a review
      </p>

      <div class="activity-review-form hide-form">
        <%= render 'activity_reviews/form' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
