<h1><%= @activity.name %></h1>
<p>Category: <%= @activity.category %></p>
<p>Description: <%= @activity.description %></p>
<p>Creator: <%= @activity.owner.first_name %> <%= @activity.owner.last_name %></p>
<p>Place: <%= @activity.place.name %></p>
<% @activity.activity_photos.each do |p| %>
  <%= cl_image_tag p.photo, width: 200, height: 200 %>
<% end %>

<%= render 'formphotos' %>
<%= link_to "Back to list", activities_path, class: 'btn btn-warning' %>

