<div class="container">
  <h1 class="text-center" style="color: #FF5959; margin: 40px 0;">The Most Dog-Friendly Place</h1>

  <p class="text-center" style="line-height: 2em; margin-bottom: 40px;">
    Don't leave your bestfriend at home room when it's time for dinner. A dog's gotta eat too! And no matter where you're headed, we can point you towards a great sidewalk cafe, brew pub, coffee shop, or other eatery that will welcome <i>Your best friend</i> to join you at an outdoor table.
    <br>
  </p>

  <div class="main-container">
    <div class="place-container">
      <% @places.each do |place| %>
        <%= link_to place_path(place) do %>
          <div class="card-trip card-plc mb-3">
            <%= cl_image_tag place.place_photos.sample.photo, crop: :fill %>
            <div class="card-trip-infos">
              <h4><%= place.name %></h4>
              <p><%= place.category %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="actions">
      <div class="searchbar">
        <%= form_tag('/places', method: :get, class: 'search-form') do %>
          <%= text_field_tag :search, nil, placeholder: "Enter destination", class: "search-form-text" %>
        <% end %>
      </div>

      <div
        id="map"
        style="height: 495px;
        width: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to new_place_path do %>
  <button type="button" class="btn-place">Add Place</button>
<% end %>
</div>

