<div class="container mb-5">
  <h1 class="text-center" style="color: #FF5959; margin: 40px 0;">The Most Dog-Friendly Place</h1>

  <p class="text-center" style="line-height: 2em; margin-bottom: 40px;">
    Don't leave your bestfriend at home room when it's time for dinner. A dog's gotta eat too! And no matter where you're headed, we can point you towards a great sidewalk cafe, brew pub, coffee shop, or other eatery that will welcome <i>Your best friend</i> to join you at an outdoor table.
    <br>
  </p>

  <div class="main-container">
    <div class="place-container">
      <% @places.each do |place| %>
        <%= link_to place_path(place) do %>
          <div class="card-trip card-plc mb-3">
            <% if place.place_photos.present? %>
              <%= cl_image_tag place.place_photos.sample.photo, crop: :fill %>
            <% end %>

            <div class="card-trip-infos">
              <h4><%= place.name %></h4>
              <p><%= place.category %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="container">
      <div class="action">
        <%= form_tag('/places', method: :get, class: 'search-form') do %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn-flat">
              <i class="fas fa-search">  Search </i>
            </button>
         </div>
      <% end %>
    </div>

      <div
        id="map"
        style="height: 495px;
        width: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
</div>

<div class="text-center">
  <%= link_to new_place_path do %>
  <button type="button" class="btn-su">Add New Place</button>
<% end %>
</div>
<br>

