<div class="container">
  <div class="d-flex justify-content-around align-items-center mt-3">
    <div class="place-details-text">
      <h2 style="color: #FFA605; font-weight: bold"><%= @place.name %></h2>
      <p><strong>Location: </strong> <%= @place.location %></p>
      <p><strong>Category: </strong> <%= @place.category %></p>
      <!-- <div class="save-action">
        <i class="fas fa-paw" style="color: #FE570F;font-size: 24px; transform: rotate(-45deg)"></i>
      </div> -->
    </div>
    <div class="place-details-map"></div>
  </div>
  <div class="place-description mt-3">
    <p class="text-center py-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, recusandae magnam dolorem doloribus tenetur unde est, eaque dolore aliquam aliquid porro eum. At aliquid labore iste ipsam, quos quam, impedit.
    </p>
  </div>
</div>

  <div class="card-reviews">
    <div class="container">
      <div class="place-reviews py-2">
        <h3 style="color: orange">Reviews</h3>
        <% @place.place_reviews.each do |r| %>
          <ul class="list-group">
            <li class="list-group-item review-content">
              <div class="review-image text-center">
                <%= cl_image_tag r.user.avatar, crop: :fill, g: :face, class: 'avatar-huge' %>
                <h6 style='margin-top: 8px; margin-bottom: 0'>@<%= r.user.username %></h6>
                <p style="color: gray; margin-bottom: 0;"><%= r.created_at %></p>
              </div>

              <div class="review-ratings">
                <div class="rating-bones">
                  <% r.rating.times do %>
                    <i class="fas fa-star" style="color: orange; font-size: 24px;"></i>
                  <% end %>
                </div>

                <% if r.content.present? %>
                  <div class="review-text">
                    <p><%= r.content %></p>
                  </div>
                <% end %>
              </div>
            </li>
          </ul>
        <% end %>

        <% if @place.user != current_user && PlaceReview.find_by(place: @place, user: current_user).nil? %>
          <p id="new_review" class="pt-3 text-center" style="color: orange; font-size: 20px; cursor: pointer">
                <i class="fas fa-pen">&nbsp;</i>Submit a review
          </p>

          <div class="my-3 place-review-form hide-form">
            <%= render 'place_reviews/form' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="place-photos">
    <h3 style="color: orange">Photos</h3>

    <div class="row justify-content-center">
      <% @place.place_photos.each do |p| %>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <%= cl_image_tag p.photo, width: 260, height: 187, crop: :fill, class: 'rounded' %>
        </div>
      <% end %>

      <p class="text-center py-4" style="display: block;">
        Want to feature your creature? Upload a photo of your pet at <strong><%= @place.name %></strong>.&nbsp;You can also share by using the hashtag #retrievr on
        <a href="#">Facebook</a>,&nbsp;
        <a href="#">Twitter</a>,&nbsp; or,&nbsp;
        <a href="#">Instagram</a>
      </p>

      <div>
        <ul class="list-inline" style="font-size: 20px">
          <li>
            <i class="fas fa-arrow-circle-up" style="color: orange"></i>
          </li>
          <li style="color: orange; font-weight: bold"> Upload picture</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%#= link_to "Back to list", places_path, class: 'btn btn-warning' %>
